{% extends 'base.html.twig' %}

{%  block title %}
    All Destination
{% endblock %}

{% block page_title %}Destinations{% endblock %}

{% block page_button %}
    {% if app.user %}
        <a class="btn btn-sm btn-outline-secondary" href="{{ path('destination_create')  }}" >New Destination</a>
    {% endif %}
{% endblock %}



{% block main %}

    <div class="container">
            <div class="row">
                {% for destination in destinations %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="{{ path('destination_view', {id:destination.id} ) }}">
                                {% set coverimg = asset('uploads/images/destination/') ~ destination.image %}
                                <div class="avatar img-thumbnail card-img-top" style="background: url('{{ coverimg }}') no-repeat center; background-size: cover; display: block;  height: 300px; " >
                                </div>
                            </a>

                            <div class="card-body">
                                <h5>Title: <a href="{{ path('destination_view', {id:destination.id} ) }}">{{ destination.name }}</a></h5><br/>
                                <small class="card-text">Region: {{ destination.region.name }}</small><br/>
                                <small class="text-muted">addedOn: {{ destination.addedOn|date("F jS \\a\\t g:ia") }}</small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('destination_view', {id:destination.id} ) }}" class="btn btn-sm btn-outline-secondary">Seen <span class="badge badge-primary badge-pill">{{ destination.countSeen }}</span></a>
                                        <a href="{{ path('destination_view', {id:destination.id} ) }}" class="btn btn-sm btn-outline-secondary">Like <span class="badge badge-primary badge-pill">{{ destination.countLiked }}</span></a>
                                        <a href="{{ path('destination_view', {id:destination.id} ) }}" class="btn btn-sm btn-outline-secondary">Visited <span class="badge badge-primary badge-pill">{{ destination.countVisited }}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}