{% extends 'base.html.twig' %}

{% block title %}
    {{ destination.name }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mx-3 my-3">
            <h3 class="">{{ destination.name }}</h3>
            <hr />
            {% if app.user and app.user.id == destination.addedBy %}
                <a class="nav-link" href="{{ path('destination_edit' ,{id:destination.id} ) }}" >Edit</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="p-2 col-6">
                <img src="{{ asset('uploads/images/destination/') ~ destination.image }}" width="500" alt="" />
            </div>
            <div class="text-justify col-6">
                {{ destination.description }}
            </div>
        </div>

        <hr />

        <div class="row col-12">
            <div class="text-center align-middle p-2 col-4">
                <img style="border-radius: 50%;" src=" {{ asset('uploads/images/user/') ~ destination.addedUser.image }}" width="50" height="50" alt="NoAvatar"><br />
                <small>{{ destination.addedUser.fullName }}</small>


            </div>
            <div class="text-center m-auto p-2 col-4">
                <small>Added Date: {{ destination.addedOn|date("F jS \\a\\t g:ia") }}</small>
            </div>

            <div class="col-4 m-auto">
                View: {{ destination.countSeen }}
                Likes: {{ destination.countLiked }}
                Visited: {{ destination.countVisited }}
            </div>
        </div>

        <hr />

        <div class="row col-12 m-a">

            {% if app.user %}
                <div class="col-3  m-auto">

                {% if destinationLiked|length == 0 or destinationLiked[0].destinationId != destination.id and destinationLiked[0].userId != app.user.id %}
                    <a href="{{ path('destination_like' ,{id:destination.id} ) }}" >Like</a>
                {% else %}
                    <a href="{{ path('destination_unlike' ,{id:destination.id} ) }}" >Un Like</a>
                {% endif %}
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    Add Comment
                </a>
            </div>


            {% endif %}
        </div>
    </div>

    {% if destination.comments|length > 0 %}
        <div class="container col-12">
            <div class="well col-12">

                {%  for comment in destination.comments %}

                    {% if comment.idcommentre == null  %}
                        <hr />
                        <table style="">
                            <tr>
                                <td style="width: 1px;">
                                    <img src="{{ asset('uploads/images/user/' ~ comment.addedUser.image) }}" width="100" alt=""/>
                                </td>
                                <td>
                                    <small>{{ comment.addedUser.username }}</small>

                                    {{ comment.content }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    {{ comment.addedOn|date("F jS \\a\\t g:ia") }}
                                    <a href="">Like</a>
                                    <a href="">Reply</a>
                                </td>
                            </tr>

                            {%  for re in comment.comments %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <hr />
                                        <table>
                                             <tr>
                                                 <td><img src="{{ asset('uploads/images/user/' ~ re.addedUser.image) }}" width="50" alt=""/></td>
                                                 <td>{{ re.content }}</td>
                                             </tr>
                                         </table>
                                     </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    {% endif %}



    <!-- Modal -->
    <form name="commentForm" action="{{ path('destination_comment_new', {id:destination.id}) }}" id="commentForm" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> New comment for "{{ destination.name }}" destination </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="message">Content</label>
                        <textarea name="comment[content]" id="message" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Send Comment</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(formComment._token) }}
    </form>


{% endblock %}

