<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{% endblock %}: WalkAround</title>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        {% block stylesheets %}

        {% endblock %}

    </head>

    <body>
        <div class="container body-container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('homepage') }}">WalkAround</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('destination_all') }}">Destinations <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users') }}">Users</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right  ">
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img style="border-radius: 50%;" src="{{ asset('uploads/images/user/') ~ app.user.image }}" width="40"  height="40" alt="avatar" />

                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('my_profile') }}">My Profile</a>
                                    <a class="dropdown-item" href="#">Friends List</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('user_logout') }}">Logout System</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img style="border-radius: 50%;" src="{{ asset('avatar.png') }}" width="40"  height="40" alt="avatar" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('user_register') }}">Register</a>
                                    <a class="dropdown-item" href="{{ path('user_login') }}">login</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            {% for message in app.flashes('error') %}
                <div class="container body-content span=8 offset=2">
                    <div class="well">
                        <br />
                        <div class="alert alert-danger" role="alert" class="fade" >

                            {{ message }}
                            <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div id="main" class="col-sm-12 mt-4">
                    {% block main %}

                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small unique-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1">Register for free</h5>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
                    </li>
                </ul>
                <!-- Call to action -->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}" ></script>
        <script src="{{ asset('js/ajax/libs/popper.js/1.14.7/umd/popper.min.js')  }}" ></script>
        <script src="{{ asset('js/bootstrap/4.3.1/js/bootstrap.min.js') }}" ></script>
    </body>
</html>