{% if app.user %}
{% set events =
    {
        'countNewFriend': app.user.friends|filter( v => v.friendship.acceptedOn == null and v.friendship.acceptedId == app.user.getId )|length,
        'countNewMail': app.user.receivedMessages|filter(v => v.seenOn == null  )|length,
        'countNewEvent': app.user.eventsdestinations|filter( v => v.accepted is null  and  v.event.status == 0 )|length
    }
%}
{% endif %}


<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}" ></script>
        <title>{% block title %}{% endblock %}: WalkAround</title>



        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block stylesheets %}

        {% endblock %}

    </head>

    <body>



        <div class="container body-container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('homepage') }}">WalkAround</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('destination_all') }}">Destinations <span class="sr-only">(current)</span></a>
                        </li>
                        {% if app.user %}

                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('users') }}">Users</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Events
                                {% if events.countNewEvent > 0 %}
                                    <span class="badge badge-danger badge-pill">{{ events.countNewEvent }}</span>
                                {% endif %}
                            </a>
                            {% if events.countNewEvent > 0 %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                {%  for invitedEvent in app.user.eventsdestinations|filter( v => v.accepted is null  and  v.event.status == 0 ) %}
                                    <a class="dropdown-item" href="{{ path('event_view',{id:invitedEvent.event.id}) }}"><span class="badge badge-info badge-pill">new</span> invitation to event from ( <b >{{  invitedEvent.event.addUser.fullName  }}</b> )</a>
                                {% endfor %}

                                {%  for invitedEvent in app.user.eventsdestinations|filter( v => v.accepted is not null  and  v.event.status == 0 ) %}
                                    <a class="dropdown-item" href="{{ path('event_view',{id:invitedEvent.event.id}) }}">{{  invitedEvent.event.addUser.fullName  }} (<b>{{  invitedEvent.event.destination.name  }} {{  invitedEvent.event.eventOn|date('d-m-Yг.')  }}</b>)</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav navbar-right ">
                        {% if app.user %}
                            <li class="nav-item mt-auto mb-auto">

                                <a class="nav-link" href="{{ path('friend_all') }}">Friends List
                                    {% if events.countNewFriend > 0 %} <span class="badge badge-danger badge-pill">{{ events.countNewFriend }}</span>{% endif %}
                                </a>
                            </li>

                            <li class="nav-item mt-auto mb-auto">
                                <a class="nav-link" href="{{ path('mailbox_inbox') }}">Mail
                                    {% if events.countNewMail > 0 %} <span class="badge badge-danger badge-pill">{{ events.countNewMail }}</span>{% endif %}
                                </a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% set avatar = asset('uploads/images/user/') ~ app.user.image %}
                                    <div class="avatar img-thumbnail card-img-top" style="background: url('{{ avatar }}') no-repeat center; background-size: cover; display: inline-block;  width: 40px; height: 40px; " >
                                    </div>

                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('my_profile') }}">{{ app.user.email }}</a>


                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('user_logout') }}">Logout System</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img style="border-radius: 50%;" src="{{ asset('avatar.png') }}" width="40"  height="40" alt="avatar" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('user_register') }}">Register</a>
                                    <a class="dropdown-item" href="{{ path('user_login') }}">login</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            {% for message in app.flashes('info') %}
                <div class="container offset=2">
                    <div class="well m-2">
                        <div class="alert alert-info text-center" role="alert" class="fade" >
                            {{ message }}
                            <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="container">
                    <div class="well m-2">
                        <div class="alert alert-danger text-center" role="alert" class="fade" >
                            {{ message }}
                            <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div id="main" class="col-sm-12 mt-4">
                    <div class="album py-2 px-2 bg-light">

                            <div class="container border-bottom">
                                <div class="row mx-3 my-3">
                                    <h3>
                                        {% block page_title %}{% endblock %}
                                    </h3>
                                    <hr />
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            {% block page_button %}{% endblock %}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% block main %}


                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container position-static mt-4">
            <footer class="modal-footer bg-dark">
                <div class="text-white">
                    Copyright &copy; 2019 by Stankata
                </div>
            </footer>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('js/ajax/libs/popper.js/1.14.7/umd/popper.min.js')  }}" ></script>
        <script src="{{ asset('js/bootstrap/4.3.1/js/bootstrap.min.js') }}" ></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.datetimepicker.min.css') }}"/>
        <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
    </body>
</html>