{% extends 'base.html.twig' %}

{% block title %} All User {% endblock %}

{% block page_title %} All User {% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            {% for user in users %}

                <div class="col-md-3">
                    <a href="{{ path('user_profile', {id:user.id} ) }}">
                        <div class="card mb-4 box-shadow">
                            <a href="{{ path('user_profile', {id:user.id} ) }}">

                                {% set bgavatar = asset('uploads/images/user/') ~ user.image %}
                                <div class="avatar card-img-top img-thumbnail" style="background-image: url('{{ bgavatar }}'); height: 200px;" >
                                </div>

                            </a>

                            <div class="card-body">
                                <h5 class="m-2" >{{ user.fullName }}</h5><br/>
                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="btn-group m-auto">
                                        <a href="{{ path('mailbox_new', {id:user.id} ) }}" class="btn btn-sm btn-outline-secondary">Send Message</a>
                                        {% if app.user and user.friends|filter( v => v.myUser.getId == app.user.getId )|length == 0 and user.id != app.user.getId%}
                                            <a href="{{ path('user_friend_invite', {id:user.id} ) }}" class="btn btn-sm btn-outline-secondary">Add Friend</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>
    </div>


        <div class="container">
            <div class="row col-12 align-items-center  p-auto">

                <nav class="col-12 " aria-label="Page navigation example">

                    <ul class="pagination justify-content-center">
                        {% if app.request.get("page") > 1 and intPages > 1 %}
                            <li class="page-item"><a class="page-link" href="{{ path('users', {page:1}) }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% for page in 1..intPages %}
                            <li class="page-item {% if  app.request.get("page") == page or intPages == 1 %}active{% endif %}"><a class="page-link" href="{{ path('users', {page:page}) }}">{{ page }}</a></li>
                        {% endfor %}

                        {% if app.request.get("page") < intPages and intPages > 1 %}
                            <li class="page-item "><a class="page-link" href="{{ path('users', {page:intPages}) }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

{% endblock %}

