{% extends 'base.html.twig' %}

{% block title %}
    {{ user.fullName|capitalize }}
{% endblock %}

{% block page_title %}View User{% endblock %}

 {% block page_button %}
     <a href="{{ path('mailbox_new', {id:user.id})  }}"  class="btn btn-sm btn-outline-secondary">Send Message</a>
     {% if user.friends|filter( v => v.myUser.getId == app.user.getId )|length == 0 and user.id != app.user.getId%}
        <a href="{{ path('user_friend_invite', {id:user.id})  }}" class="btn btn-sm btn-outline-secondary" >Add Friend</a>
     {% endif %}
 {% endblock %}


{% block main %}

<div class="container">

    <div class="container col-12 ">
            <div class="row m-auto col-4 offset-4 align-middle">
                {% set bgavatar = asset('uploads/images/user/') ~ user.image %}
                <div class="avatar profile img-thumbnail card-img-top" style="background-image: url('{{ bgavatar }}'); " >
                </div>
{#                <img  alt="" class="m-auto img-thumbnail  " src="{{ asset('uploads/images/user/' ~ user.image) }}" width="600"/>#}
            </div>

        </div>
        <br />
        <div class="container col-12">
            <div class="well m-auto col-4 offset-4">

                    <h3 class="text-center">{{ user.fullName }}</h3>
                    <h3 class="text-center">age: {{ user.age }}</h3>
                    <h3 class="text-center">sex: {{ user.sex }}</h3>
            </div>

        </div>



</div>
{% endblock %}

