{% extends 'base.html.twig' %}

{% block title %}
    {{ user.fullName|capitalize }}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row mx-3 my-3">
        <h3>User</h3>
        <hr />
        <a href="{{ path('mailbox_new', {id:user.id})  }}"  >Send Message</a>
        &nbsp;
        <a href="{{ path('mailbox_new', {id:user.id})  }}" >Add Friend</a>
    </div>
</div>

<hr />

<div class="container">


        <div class="container col-12 ">
            <div class="row m-auto col-12">
                <img  alt="" class="m-auto" src="{{ asset('uploads/images/user/' ~ user.image) }}" width="600"/>
            </div>

        </div>

        <div class="container col-12 ">
            <div class="row m-auto offset-4 ">
                <div class="col-4 a-c">
                    <h5>Name: {{ user.fullName }}</h5>
                </div>

                <div class="col-4">
                    <h3 >age: {{ user.age }}</h3>
                </div>

                <div class="col-4">
                    <h3>Sex: {{ user.sex }}</h3>
                </div>
            </div>

        </div>



</div>
{% endblock %}

